<?xml version="1.0"?>
<ruleset name="Estatein"><description>Estatein WordPress coding standards.</description><file>.</file><exclude-pattern>vendor/*</exclude-pattern><exclude-pattern>node_modules/*</exclude-pattern><rule ref="WordPress"><exclude name="WordPress.Files.FileName.InvalidClassFileName"/><exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/><exclude name="Squiz.Commenting"/><exclude name="WordPress.WP.I18n.MissingTranslatorsComment"/></rule><config name="minimum_supported_wp_version" value="6.6"/><arg name="extensions" value="php"/><arg value="sp"/></ruleset>
